<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="help.css">
    <link rel="stylesheet" href="font.css">
    <title>Help</title>
</head>
<body>
    <div class="main">
        <h1>Basic <span class="glow">usage</span>-</h1>
        <div class="info">
            <div><h5><span class="li-info">/up</span></h5>
                <p>To check the status of the site, It will prolly return a response in the form of <span class="glow">.json</span></p></div>
            <div><h5><span class="li-info">/me</span></h5>
                <p>That's me!</p></div>
            <div><h5><span class="li-info">/page/&LeftAngleBracket;YourName&RightAngleBracket; </span></h5>
                <p>This is something special, you can check this by replacing <span class="glow">&LeftAngleBracket;YourName&RightAngleBracket;</span> from the URL to get a custom response according to the route!!! </p></div>     
        </div>
    </div>
    <%- include("includes/madeWith.ejs") %> 
</body>
</html>