<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Me</title>
</head>

<body>
    <div class="head">
        <h1>Piyush,</h1>
        <p>A <span class="glow">pro</span>fessional Web Developer tryna become the <span class="glow">best</span> in
            every aspect of my <span class="glow">life </span><span class="emoji">😉</span></p>
    </div>
    <div class="mid">
        <h1>Skills</h1>
        <p><span class="glow">Coddder</span> hu sahab! <br></p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JS</li>
            <li>NodeJS</li>
            <li>ExpressJs</li>
        </ul>
        <p class="glow">(Ye sab master kar raha hu + or bhi aa raha ha, LESSSSSSSSGOOOOOOOO ...)</p>
    </div>
    <%- include("includes/madeWith.ejs") %> 
</body>
</html>