<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/page.css">
    <title>Profile | <%= username %></title>
</head>
<body>
    <div class="main-wrapper">
        <div class="top">
            <i class="fa-solid fa-chevron-left"></i>
            <h4><%= username %></h4>
            <i class="fa-solid fa-chevron-left black-icon"></i>
        </div>
        <div class="border"></div>
        <div class="info">
            <h3>Instagram of &commat;<%= username %></h3>
            <button style="background-color: #4A5DF9;">Follow</button>
            <button>Message</button>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>