@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.main-wrapper{
    background-color: black;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: "Red Hat Display" sans-serif
}
.info {
    color: white;
    padding: 10px 0 0 10px;
}

.info h3 {
    margin-bottom: 20px;
}

.info button {
    all: unset;
    padding: 10px;
    color: white;
    background-color: rgb(47, 47, 47);
    border-radius: 7px;
    font-weight: 600;
    width: 6rem;
    text-align: center;
}


.top {
    width: 100vw;
    height: 50px;
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
    
}

.border{
    width: 100vw;
    border-bottom: 2px solid;
    border-color: white;
}

.black-icon {
    color: black;
}
